@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.Quiz-Window {
  text-align: center;
  margin-top: 20px;
  width: 60%;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  padding-top: 0;
}

.progress-bar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Quiz-Window progress {
  width: 100%;
  margin: 0;
  height: 20px;
  background: #abffff;
  margin-bottom: 15px;
  border-radius: 15px;
}

.Quiz-Window progress::-webkit-progress-bar {
  background-color: #d5d5d5;
}

.Quiz-Window progress::-webkit-progress-value {
  background-color: #909090 !important;
}

.Quiz-Window table,
.Quiz-Window th,
.Quiz-Window td {
  border: 1px solid;
}
.Quiz-Window button {
  cursor: pointer;
  width: 250px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.Quiz-Window {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.Quiz-Window .QuestionHeader h4 {
  margin-top: 5px;
}

.scoresOnProgress{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* Scores file*/

.Result-Window {
  text-align: center;
  margin-top: 20px;
  width: 60%;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  height: 480px;
  padding-bottom: 35px;
  padding-top: 0;
}
.Result-Window .scores {
  padding: 50px;
}
.Result-Window .scores h1 {
  font-size: 30px;
  color: red;
}

.Result-Window button {
  cursor: pointer;
  width: 250px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.Result-Window button:hover {
  background-color: black;
  color: white;
}