@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.Quiz-Window {
  text-align: center;
  margin-top: 100px;
  width: 60%;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  padding-bottom: 50px;
  padding-top: 0;
}

.Quiz-Window Ul li{
  list-style: none;;
}
.progress-bar{
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.Quiz-Window progress {
  width: 100%;
  margin: 0;
  height: 20px;
  background: #abffff;
  margin-bottom: 15px;
}

.Quiz-Window progress::-webkit-progress-bar {
  background-color: #d5d5d5;
}

.Quiz-Window progress::-webkit-progress-value {
  background-color: #909090 !important;
}

.Quiz-Window table,
.Quiz-Window th,
.Quiz-Window td {
  border: 1px solid;
}
.Quiz-Window button {
  margin: 15px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.Quiz-Window {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.Quiz-Window-Header{
    text-align: center;
}
.Quiz-Window-Header h1{
    text-align: left;
    margin: 15px;
    font-size: 56px;
    display: inline-block;
}
.Quiz-Window-Header h2{
    display: inline-block;
}